<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/style.css">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        <style>
            .container{
                position: absolute;
            
                
            }
            #iei{
                margin-left: 10%;
                
            }
            #iai{
                margin-top: 30%;
                margin-left: 10%;
                position: absolute;
            }
            #t1{
                margin-top: 20%;
                position: absolute;
            }

        </style>
    </head>
<body style="font-family: 'Joan', serif">
    <script>
        var stu = document.getElementById("stu");
        var s= document.getElementsByName("uname");
        var x= parseFloat(s) ;
        if(x<65){
            var s= document.getElementsByName("uname");
            
            stu.innerHTML="You are likely to be detained ";
            s.style.Color = "red"  ;          
        }
        else if(65<x<75){
            var s= document.getElementsByName("uname");
            
            stu.innerHTML="Your attendance is bad ";
            s.style.Color = "red"  ;          
        }
        else if(75<x<85){
            var s= document.getElementsByName("uname");
            stu.innerHTML="Your attendance is good ";
            s.style.Color = "yellow"  ;    
        }
        else if(x>85) {
            var s= document.getElementsByName("uname");
            stu.innerHTML="Your attendance is Very good. ";
            s.style.Color = "green"  ;    
        }
    </script>
    <div id="particles-js">
       <nav class="navbar " style="background-color: #00468B">
        <a class="navbar-brand text-light " style="text-align:left;" >Attendance Management System</a>
        <div class="btn-group" role="group" aria-label="Basic example">
          <a href="/calendar" class="btn btn-primary bg-warning">Calendar</a>
          <button type="button" class="btn btn-info bg-warning" data-toggle="modal" data-target="#myModal">Timetable</button>
          <a class="btn btn-primary" href="\" role="button">Logout</a>
        </div>
        </nav>
    
      <div class="container text-center" id="iei">
        <h1>Welcome back, Student</h1>
        <h2>Your Attendance is...</h2>
        <h3 style="color:rgb(15, 27, 15)" name="percentage"><%=percentage%>%</h3>
        <h4 id="stu"></h4>
        <h3>Subject-wise Attendance</h3>
      </div>
      <hr>
      <table class="table" style="margin-left: 10% ; " id="t1">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Subject</th>
              <th scope="col">Teacher</th>
              <th scope="col">Number of Classes</th>
              <th scope="col">Percentage</th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <th scope="row">1</th>
                <td>IWT</td>
                <td>Srikanth</td>
                <td name="length1"><%=length1%></td>
                <td name="percentage1"><%=percentage1%>%</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>DAA</td>
                <td>Adbul Bari</td>
                <td name="length2"><%=length2%></td>
                <td name="percentage2"><%=percentage2%>%</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>IWT lab</td>
                <td>Srikanth</td>
                <td>0</td>
                <td>-</td>
              </tr>
          </tbody>
        </table>
        <hr>

        <div class="container text-center" id="iai">
            <h3>Marks for attendance</h3>
            <hr class= "my-3">
            <h4>100-85% : 5 Marks</h4>
            <h4>85-75% : 4 Marks</h4>
            <h4>75-65% : 3 Marks</h4>
            <h4>Less than 65%: Detained</h4>
            <h4></h4>
            <h4></h4>
        </div> 
    </div>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <div class="container text-center">
      <!-- Trigger the modal with a button -->
      <!-- Modal -->
      <div class="modal fade modal-lg" id="myModal" role="dialog" style="margin-left: 20%;">
        <div class="modal-dialog text-center">
        
          <!-- Modal content-->
          <div class="modal-content ">
            <div class="modal-header">
              <h4>Timetable</h4>
            </div>
            <div class="container-fluid">
               
            </div>
                <table class="table" >
                    <tr>
                        <td><br>
                            <b>Day/Period</b></br>
                        </td>
                        <td >
                            <b>I<br>9:10-10:10</b>
                        </td>
                        <td >
                            <b>II<br>10:20-11:20</b>
                        </td>
                        <td >
                            <b>III<br>11:30-12:30</b>
                        </td>
                        <td align="center" height="50"
                            width="100">
                            <b>12:30-1:10</b>
                        </td>
                        <td align="center" height="50"
                            width="100">
                            <b>IV<br>1:10-2:10</b>
                        </td>
                        <td align="center" height="50"
                            width="100">
                            <b>V<br>2:20-3:20</b>
                        </td>
                        <td align="center" height="50"
                            width="100">
                            <b>VI<br>3:30-4:10</b>
                        </td>
                        
                    </tr>
                    <tr>
                        <td align="center" height="50">
                            <b>Monday</b></td>
                        <td align="center" height="50">IWT</td>
                        <td align="center" height="50">EEA</td>
                        <td align="center" height="50">LIBRARY</td>
                        <td rowspan="6" align="center" height="50">
                            <h2>L<br>U<br>N<br>C<br>H</h2>
                        </td>
                        <td colspan="3" align="center"
                            height="50">LAB</td>
                     </tr>
                    <tr>
                        <td align="center" height="50">
                            <b>Tuesday</b>
                        </td>
                        <td colspan="3" align="center"
                            height="50"> DBMS LAB
                        </td>
                        <td align="center" height="50">IWT</td>
                        <td align="center" height="50">DAA</td>
                        <td align="center" height="50">FIT INDIA</td>
                     
                    </tr>
                    <tr>
                        <td align="center" height="50">
                            <b>Wednesday</b>
                        </td>
                        <td align="center" height="50">EEA</td>
                        <td align="center" height="50">DAA</td>
                        <td align="center" height="50">MFDS</td>
                        <td align="center" height="50">DBMS</td>
                        <td colspan="3" align="center"
                            height="50">MENTORING
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Thursday</b>
                        </td>
                        <td >CAMP</td>
                        <td >DBMS</td>
                        <td >MFDS</td>
                        <td colspan="3" align="center"
                            height="50">IWT LAB</td>          
                    </tr>
                    <tr>
                        <td>
                            <b>Friday</b>
                        </td>
                        <td>LAB </td>
                        <td >IWT LAB</td>
                        <td >DBMS LAB</td>
          
                        <td colspan="3" align="center"
                        height="50">MFDS LAB</td>
                    </tr>
                </table>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
    
   
      
</body>
</html>
<script src="https://unpkg.com/aos@next/dist/aos.js%22%3E"></script>
  <script>
    AOS.init({
      Duration:3000,
      once: true
    });
  </script>
  <!-- Particles.js -->
  <script type="text/javascript" src="js/particles.js"></script>
      <script type="text/javascript" src="js/app_1.js"></script> 
      <script type="text/javascript" src="js/particlesjs-config_2.json"></script>